@import '../variables/variables';
@import '../mixins/mixin';

/*=============================================
                  expertise css start
=============================================*/
#expertise{
    padding: 72px 0 102px;
    .exp_head{
        h2{
            @include fs($head, 22px, 700, $play);
            text-transform: uppercase;
            margin-bottom: 10px;
            position: relative;
            &::after {
                position: absolute;
                content: "";
                top: 66px;
                left: 50%;
                width: 50px;
                height: 3px;
                background: #c6c4c9;
                transform: translateX(-50%)
            }
        }
        p{
            @include fs($para, 14px, 400, $play);
            margin-bottom: 98px;
        }
    }
    .exp_col{
        width: 286px;
        h3{
            @include fs($head, 14px, 900, $roboto);
            margin-top: 30px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        p{
            @include fs(#333333, 14px, 300, $roboto);
            line-height: 22px;
        }
    }
}
.exp_col:nth-child(1),
.exp_col:nth-child(2),
.exp_col:nth-child(3) {
    margin-bottom: 75px;
}
.exp_col:nth-child(2){
    padding-top: 8px;
}
.exp_col:nth-child(4),
.exp_col:nth-child(5),
.exp_col:nth-child(6) {
    margin-bottom: 95px;
}
/*=============================================
                  expertise css end
=============================================*/